.h-icon-color {
  &--purple {
    color: var(--purple);
  }

  &--red {
    color: var(--red);
  }

  &--green {
    color: var(--green);
  }

  &--brown {
    color: var(--brown);
  }

  &--navy {
    color: var(--navy);
  }

  &--ivory {
    color: var(--ivory);
  }

  &--pink {
    color: var(--pink);
  }

  &--yellow {
    color: var(--yellow);
  }
}
