.breadcrumb-item {
	a {
		color: var(--text-200);
	}

	& + .breadcrumb-item {
		&::before {
			content: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.49961 11.7501C1.31099 11.7432 1.13212 11.6645 0.999614 11.5301C0.859163 11.3895 0.780273 11.1988 0.780273 11.0001C0.780273 10.8013 0.859163 10.6107 0.999614 10.4701L5.43961 6.00009L0.999614 1.53009C0.908223 1.38913 0.866802 1.22157 0.881989 1.05427C0.897177 0.886963 0.968094 0.729602 1.08337 0.607406C1.19865 0.48521 1.35162 0.405255 1.51775 0.380355C1.68389 0.355456 1.85358 0.387054 1.99961 0.470086L6.99961 5.47009C7.14006 5.61071 7.21895 5.80134 7.21895 6.00009C7.21895 6.19884 7.14006 6.38946 6.99961 6.53009L1.99961 11.5301C1.8671 11.6645 1.68824 11.7432 1.49961 11.7501Z' fill='%238A94A6'/%3E%3C/svg%3E%0A");
			color: var(--text-200);
		}
	}

	&.active {
		color: var(--blue);
	}
}
