.h-card-shadow {
  @extend %card-helper;
  background-color: var(--white);
  border: 1px solid var(--gray-dark);

  &:hover,
  &:active {
    border: 1px solid var(--blue);
    box-shadow: 8px 8px 2px 1px rgb(153, 194, 247, 0.8);
  }

  .bi::before {
    font-size: 1.5rem;
  }

  &__divider {
    border-top: 1px solid var(--line-soft);
  }

  &__link {
    color: var(--blue);
    font-weight: 600;

    &:hover {
      color: var(--blue-dark);
      font-weight: 600;
    }
  }

  &__button {
    align-items: center;
    background-color: var(--soft);
    border: none;
    border-radius: 50%;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    padding: 0.5rem;
    width: 2.5rem;

    &::before {
      content: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.94663 0.413333C7.87898 0.250434 7.74952 0.120983 7.58663 0.0533333C7.50648 0.0191726 7.42041 0.00105332 7.33329 0H0.666626C0.489815 0 0.320246 0.070238 0.195222 0.195262C0.0701973 0.320287 -4.06904e-05 0.489856 -4.06904e-05 0.666667C-4.06904e-05 0.843478 0.0701973 1.01305 0.195222 1.13807C0.320246 1.2631 0.489815 1.33333 0.666626 1.33333H5.72663L0.193293 6.86C0.130807 6.92198 0.081211 6.99571 0.0473652 7.07695C0.0135194 7.15819 -0.00390625 7.24533 -0.00390625 7.33333C-0.00390625 7.42134 0.0135194 7.50848 0.0473652 7.58972C0.081211 7.67096 0.130807 7.74469 0.193293 7.80667C0.255268 7.86915 0.329002 7.91875 0.410241 7.95259C0.491481 7.98644 0.578618 8.00387 0.666626 8.00387C0.754634 8.00387 0.841771 7.98644 0.92301 7.95259C1.00425 7.91875 1.07798 7.86915 1.13996 7.80667L6.66663 2.27333V7.33333C6.66663 7.51014 6.73686 7.67971 6.86189 7.80474C6.98691 7.92976 7.15648 8 7.33329 8C7.5101 8 7.67967 7.92976 7.8047 7.80474C7.92972 7.67971 7.99996 7.51014 7.99996 7.33333V0.666667C7.99891 0.579548 7.98079 0.493481 7.94663 0.413333Z' fill='%233062E0'/%3E%3C/svg%3E%0A");
      height: 1.5rem;
      position: relative;
      width: 1.5rem;
    }
  }

  &--soft {
    &:hover,
    &:active {
      background-color: var(--soft);
    }
  }

  &--slider {
    height: 285px;
    width: 95%;
  }
}
