.h-readmore__state {
  display: none;

  &:checked {
    & ~ .h-readmore__wrap {
      .h-readmore__target {
        display: block;
        visibility: visible;
        opacity: 1;
        font-size: inherit;
        max-height: 999em;
      }
    }

    & ~ .h-readmore__trigger {
      &::before {
        color: var(--blue);
        content: "Lebih sedikit";
      }

      &::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%234950f3' class='bi bi-chevron-up' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
        padding-left: 12px;
        position: relative;
        top: 3px;
      }
    }
  }

  & ~ .h-readmore__trigger {
    &::before {
      color: var(--blue);
      content: "Lainnya";
    }

    &::after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%234950f3' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
      padding-left: 12px;
      position: relative;
      top: 3px;
    }
  }
}

.h-readmore__target {
  display: none;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.25s ease;
}

.h-readmore__trigger {
  cursor: pointer;
  display: inline-block;
  margin-top: 8px;
}
