$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

/* Mobile */
@mixin screenXs() {
    @media (min-width: #{$xs}) {
        @content;
    }
}

@mixin screenSm() {
    @media (min-width: #{$sm}) {
        @content;
    }
}

/* ipad Portrait */
@mixin ipadPortrait {
    @media only screen
        and (min-device-width: 1024px)
        and (max-device-width: 768px)
        and (orientation: portrait) {
        @content;
    }
}

/* ipad Landscape */
@mixin ipadLandscape {
    @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: landscape) {
        @content;
    }
}

/* ipadPro Portrait */
@mixin ipadProPortrait {
    @media only screen
        and (min-device-width: 1024px)
        and (max-device-height: 1366px)
        and (orientation: portrait)  {
        @content;
    }
}

/* ipadPro Landscape*/
@mixin ipadProLandscape {
    @media only screen
        and (min-device-width: 1366px)
        and (max-device-height: 1024px)
        and (orientation: landscape)  {
        @content;
    }
}

/* Laptop */
@mixin screenMd() {
    @media (min-width: #{$md}) {
        @content;
    }
}

/* Desktop */
@mixin screenLg() {
    @media (min-width: #{$lg}) {
        @content;
    }
}

/* Desktop Large */
@mixin screenXl() {
    @media (min-width: #{$xl}) {
        @content;
    }
}

/* Desktop Extra Large */
@mixin screenXXl() {
    @media (min-width: #{$xxl}) {
        @content;
    }
}
